body {
    text-align: center;
}

ul {
    list-style-type: none;
}

h4 {
    font-size: 1.5rem;
}

input {
    margin-bottom: 1.5rem;
}

label {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.3rem;
}

h6 > strong {
	font-size: 20px;
}

.clearfix {
    clear: both;
}

.cart-item {
    border: 2px solid lightgray;
    padding: 0.5rem;
}

.product-item{
    float: left;
}

.product-item h6{
    margin: 0.3rem;
}

.cart-item span{
    display: block;
    float: right;
    margin-top: 1em;
    font-size: 1.1rem;
}

.cart-sum {
    padding-top: 2rem;
}

.cart-sum span{
    display: inline;
}

.cart-sum strong{
    display: inline;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.cart {
    order: 2;
    width: 33.33%;
    margin-bottom: 1.5rem;
}

.checkout-form {
    order: 1;
    width: 66.66%;
    text-align: left;
}

.firstname-box, .lastname-box {
    display: inline;
}

.lastname-box {
    margin-left: 2rem;
}

#address {
    width: 70%;
}

.country-box, .state-box, .zip-box {
    display: inline;
}

.state-box, .zip-box {
    margin-left: 1rem;
}
